body {
	background-color: lightgrey;
}
.banner {
	background-color: white;
	border-radius: 5px;
	margin-top: -1em;
	margin-bot: 60%;
	height: 16em;
}
.content {
	display:flex;
}
#banner-title {
	margin-bot: 1em;
	margin-left: 4em;	
}
.content div {
	margin-top: 2em;
	background-color: white;
}
#nav-menu {
	margin: 2em;
	width: 40%;
	padding: 2em;
}
#articles-container {
	margin: 2em;
	width: 60%;
	padding: 2em;
}